
.transactions {
  width: 100%;
  margin-bottom: 20px;
  border: 5px solid #fff;
  border-top: 5px solid #fff;
  border-bottom: 3px solid #fff;
  border-collapse: collapse;
  font-size: 15px;
  background: #fff !important;
  width: 600px;
}
.transactions th {
  font-weight: bold;
  padding: 7px;
  background: #88c0e0;
  border: none;
  text-align: left;
  font-size: 25px;
  text-align: center;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #d3d1c9;
}
.transactions td {
  padding: 7px;
  border: none;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  font-size: 20px;
  text-align: center;
}
.transactions tbody tr:nth-child(even) {
  background: #f8f8f8 !important;
}
